{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Details
{% endblock %}

{% block body %}

    <h2>Series.me | Details about {{ serie.name }}</h2>

    <section>
        <div class="serie-details">
            <div>
                <img src="{{ asset('img/posters/series/' ~ serie.poster) }}" alt="{{ serie.name }}">
            </div>
            <div class="serie-details-infos">
                <h3>{{ serie.name }}</h3>
                <div>User ratings : {{ serie.vote }}</div>
                <div>Categorized in : {{ serie.genres }}</div>
                <div>Serie status : {{ serie.status }}</div>
                <div>Broadcasted from {{ serie.firstAirDate | date('Y-m-d') }} to {{ serie.lastAirDate | date('Y-m-d') }}</div>
                <div>{{ serie.overview | nl2br }}</div>
                <a class="link_button" href="{{ path('serie_update', {'id': serie.id}) }}">Update</a>
                <a class="link_button" href="{{ path('season_add', {'id': serie.id}) }}">Add Season</a>
                <a class="link_button" href="{{ path('serie_delete', {'id': serie.id}) }}" onclick="return confirm('Are you sure you want to delete {{ serie.name }}?')">Delete</a>
                <div class="flex_div">
                    <button class="like-button" value="1">Like</button>
                    <button class="like-button" value="0">Dislike</button>
                    <div><span id="nbLike">{{ serie.nbLike }}</span> likes</div>
                </div>
            </div>
        </div>
    </section>
    <section class="seasons">
       <h3>Seasons</h3>
        {% for season in serie.seasons %}
            <article>
                <img src="{{ asset('img/posters/seasons/' ~ season.poster) }}" alt="{{ serie.name }} #{{ season.number }}">
                <h4>#{{ season.number }}</h4>
                <div>
                    <div>Aired from {{ season.firstAirDate | date('Y-m-d') }}</div>
                    <div>{{ season.overview }}</div>
                </div>
            </article>
        {% endfor %}
    </section>
{% endblock %}

{% block extraStyle %}
    <style>
        body {
            background-image: linear-gradient(rgba(0,0,0, 0.8), rgba(0,0,0, 0.5)), url("{{ asset('img/backdrops/' ~ serie.backdrop) }}")
        }
    </style>
{% endblock %}

{% block extraJS %}
    <script>

        let buttons = Array.from(document.getElementsByClassName("like-button"));
        buttons.forEach(function (button){
            button.addEventListener("click", function (){
                let series = {{ serie.id }};
                let value = {'value' : this.value};

                fetch("{{ path('api_series_update_one', {'id' : serie.id }) }}", {
                    method: 'PUT',
                    body : JSON.stringify(value)
                }).then(response => response.json()).then(function (data){
                        document.getElementById('nbLike').innerText = data.nbLike;
                    })
            })
        })
    </script>
{% endblock %}