{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Details
{% endblock %}

{% block body %}

    <h2>Details about {{ serie.name }}</h2>

    <div class="serie-details">
        <div>
            <img src="{{ asset('img/posters/series/' ~ serie.poster) }}" alt="{{ serie.name }}">
        </div>
        <div class="serie-details-infos">
            <h3>{{ serie.name }}</h3>
            <div>User ratings : {{ serie.vote }}</div>
            <div>Categorized in : {{ serie.genres }}</div>
            <div>Serie status : {{ serie.status }}</div>
            <div>Broadcasted from {{ serie.firstAirDate | date('Y-m-d') }} to {{ serie.lastAirDate | date('Y-m-d') }}</div>
            <div>{{ serie.overview | nl2br }}</div>
        </div>
    </div>

{% endblock %}

{% block extraStyle %}
    <style>
        body {
            background-image: linear-gradient(rgba(0,0,0, 0.8), rgba(0,0,0, 0.5)), url("{{ asset('img/backdrops/' ~ serie.backdrop) }}")
        }
    </style>
{% endblock %}