<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Series.io {% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ asset('img/icon.png') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1><a href="{{ path('main_home') }}"><img src="{{ asset('img/logo.svg') }}" alt="logo"></a> </h1>
            {% include 'menu/nav.html.twig' %}
        </header>
        <main>
            {% block body %}Base{% endblock %}
        </main>
        <footer>
            {% include 'menu/nav.html.twig' %}
        </footer>
    </div>
</body>
</html>