<nav>
    <ul>
        <li><a href="{{ path('main_home') }}">Home</a></li>
        <li><a href="{{ path('main_test') }}">Test</a></li>
        <li><a href="{{ path('serie_list') }}">TV Shows</a></li>
        {% if app.user %}
            <li><a href="{{ path('serie_add') }}">Add TV Show</a></li>
            <li><a href="{{ path('app_logout') }}">Logout ({{ app.user.firstName }})</a></li>
        {%  else %}
            <li><a href="{{ path('app_login') }}">Login</a></li>
            <li><a href="{{ path('app_register') }}">Register</a></li>
        {% endif %}
        <li><a href="">Contact</a></li>
    </ul>
</nav>